@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
font-family: Arial, Helvetica, sans-serif, Calibri;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


 /* ------------------------------------------ Github btn --------------------------------------- */

 